# Compiled output
target/
*.class

# IDE files
.idea/
*.iml
.vscode/
.settings/
.project
.classpath
*.txt
# Logs
*.log
*.asc
# OS metadata
.DS_Store
Thumbs.db

# Maven local repo (if any)
dependency-reduced-pom.xml